ion-chip {
    position: relative;
    padding: 0;
    ion-checkbox {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    ion-label {
        padding: 7px 12px;
    }

    ion-checkbox.checkbox-checked + ion-label {
        background-color: var(--ion-color-primary);
        color: var(--ion-color-light);
        height: 100%;
        width: 100%;
        padding: 7px 12px;
        line-height: 17px;
    }
}

.days {
    padding: 10px 20px;
    ion-label {
        color: var(--ion-color-dark);
    }
    &.is-disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}