ion-chip {
    position: relative;
    ion-checkbox {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
    }

    ion-checkbox.checkbox-checked + ion-label {
        background-color: red;
    }
}