@import '../../theme/colors';

.modal-content {
    background-color: yellow;
    height: 50%;
    width: 90%;
    border-radius: 10px;
}

ion-fab-button {
    position: relative;
}
ion-fab-button[data-desc]::after {
    position: absolute;
    content: attr(data-desc);
    bottom: 12px;
    color: var(--ion-color-light);
    background-color: var(--ion-color-dark);
    border-radius: 5px;
    padding: 2px 5px;
}
ion-fab-button[data-desc] {
    &.left {
        &::after {
            right: 50px;
        }
    }
    &.right {
        &::after {
            left: 50px;
        }
    }
}